.previous, .next {
    text-decoration: none;
    border: 1px #ec0188 solid;
    padding: 0.5rem 1rem;
    background-color: #ec0188;
    color: white;
    border-radius: 12px;
    margin-bottom: 1rem;
    cursor: pointer;
  }

  .previous:hover, .next:hover {
    background-color: white;
    color: black;
  }

  .next:disabled {
    background-color: hsl(326, 99%, 20%);
  }

  .next:disabled:hover {
    color: white;
  }

  .centered {
    display: flex;
    justify-content: space-between;
  }

  .vertical {
    flex-direction: column;
  }